!!!
%html
  = render '/refinery/admin/head'
  %body.login{ class: I18n.locale }
    #tooltip_container
    %header
      %h1= yield :header
    #page_container
      #page
        #content.clearfix
          #flash_container
            = render '/refinery/message'
          = yield
